.authentication-contianer {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 900px;

    @media screen and (max-width: 800px) {
       display: block;
       max-width: fit-content;
    }

}